# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

#libs
/Prj-Win/libs/libAllplayer.lib
/Prj-Win/libs/x64/libAllplayer.lib
/Prj-Win/libs/x86/libAllplayer.lib

#libAllplayer
/Prj-Win/bin/x86/Debug/*.log
/Prj-Win/bin/x86/Debug/*.tlog
/Prj-Win/bin/x86/Debug/*.obj
/Prj-Win/bin/x86/Debug/*.idb
/Prj-Win/bin/x86/Debug/*.pdb

/Prj-Win/bin/x86/Debug/libAllplayer.dll
/Prj-Win/bin/x86/Debug/libAllplayer.exp
/Prj-Win/bin/x86/Debug/libAllplayer.ilk
/Prj-Win/bin/x86/Debug/libAllplayer.lib
/Prj-Win/bin/x86/Debug/libAllplayer.pch

/Prj-Win/bin/x86/Release/*.log
/Prj-Win/bin/x86/Release/*.tlog
/Prj-Win/bin/x86/Release/*.obj
/Prj-Win/bin/x86/Release/*.idb
/Prj-Win/bin/x86/Release/*.pdb

/Prj-Win/bin/x86/Release/libAllplayer.dll
/Prj-Win/bin/x86/Release/libAllplayer.exp
/Prj-Win/bin/x86/Release/libAllplayer.ilk
/Prj-Win/bin/x86/Release/libAllplayer.lib
/Prj-Win/bin/x86/Release/libAllplayer.pch

/Prj-Win/bin/x64/Debug/*.log
/Prj-Win/bin/x64/Debug/*.tlog
/Prj-Win/bin/x64/Debug/*.obj
/Prj-Win/bin/x64/Debug/*.idb
/Prj-Win/bin/x64/Debug/*.pdb

/Prj-Win/bin/x64/Debug/libAllplayer.dll
/Prj-Win/bin/x64/Debug/libAllplayer.exp
/Prj-Win/bin/x64/Debug/libAllplayer.ilk
/Prj-Win/bin/x64/Debug/libAllplayer.lib
/Prj-Win/bin/x64/Debug/libAllplayer.pch

/Prj-Win/bin/x64/Release/*.log
/Prj-Win/bin/x64/Release/*.tlog
/Prj-Win/bin/x64/Release/*.obj
/Prj-Win/bin/x64/Release/*.idb
/Prj-Win/bin/x64/Release/*.pdb

/Prj-Win/bin/x64/Release/libAllplayer.dll
/Prj-Win/bin/x64/Release/libAllplayer.exp
/Prj-Win/bin/x64/Release/libAllplayer.ilk
/Prj-Win/bin/x64/Release/libAllplayer.lib
/Prj-Win/bin/x64/Release/libAllplayer.pch

/Prj-Win/libAllplayer/*

/Prj-Win/libAllplayer/*.vcxproj.user
/Prj-Win/libAllplayer/*.v12.suo
/Prj-Win/libAllplayer/*opensdf
/Prj-Win/libAllplayer/*sdf

#PC_DEMO
/Prj-Win/PC_DEMO/Debug/*
/Prj-Win/PC_DEMO/Release/*

/Prj-Win/PC_DEMO/x64/Debug/*
/Prj-Win/PC_DEMO/x86/Debug/*
/Prj-Win/PC_DEMO/x64/Release/*
/Prj-Win/PC_DEMO/x86/Release/*

/Prj-Win/PC_DEMO/*.vcxproj.user
/Prj-Win/PC_DEMO/*.v12.suo
/Prj-Win/PC_DEMO/*.opensdf
/Prj-Win/PC_DEMO/*.sdf

#bin
/Prj-Win/bin/x64/Debug/*.*
/Prj-Win/bin/x64/Release/*.*
/Prj-Win/bin/x86/Debug/*.*
/Prj-Win/bin/x86/Release/*.*

/Prj-Win/tools/*


